@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@500&display=swap');


* {
    font-family: "Kode Mono", monospace;
    text-align: center;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
}

html {
    scroll-behavior: smooth;
    
    
}

body {
    overflow-x: hidden;
    background: url("IMG_5452.jpeg");
    background-attachment: ;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background {
    z-index: -1;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 10px;
      top: 18%;
      width: 90%;
      text-align: center;
    z-index: 100;
}

h1 {
    font-size: 10vw;
    color: #a1cca5;
    padding: 5px;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem #fff);
}

img {
    pointer-events: none;
    cursor: default;
}

.section {
    text-align: center;
    border: solid #808080 1px;
    border-radius: 10px;
    margin: 15px auto;
    /*margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 3px; */
    
    padding: 25px;
    color: white;
    position: relative;
    max-width: 500px;
    overflow-y: hidden;
    box-shadow: rgba(0,0,0, 0.5);
    backdrop-filter: blur(5px);
    background-color: rgba(80, 80, 89, 0.5);
}

.paragraph:before {
    content: '';
    position: absolute;
    
    background: black;
}

p, div, .paragraph {
    overflow: hidden;
}

p {
    font-size: 20px;
}

span {
    
opacity: .1;

}

br {
    z-index: -1;
}

button {
    font-size: 30px;
    padding: 10px;
    background: rgba(161, 227, 165, 0.9);
    border: none;
    border-radius: 5px;
    color: white;
    
}

